.profile__edit-button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  background-image: url(../../../image/pencil.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  left: 312px;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    position: absolute;
    top: 40px;
  }
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    background-image: url(../../../image/pencil-tiny.svg);
    width: 18px;
    height: 18px;
    top: 32px;
    left: 200px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}

