.popup__close-button {
  width: 32px;
  height: 32px;
  background-color: #000000;
  background-image: url(../../../image/close-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    background-image: url(../../../image/close-icon-small.svg);
    top: -35px;
    right: 0;
  }
}
