.profile__info {
  position: relative;
  flex-grow: 2;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    text-align: center;
    padding-top: 22px;
    margin-left: -10px;
  }
}
