.footer__copyrights {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .footer__copyrights {
    padding-left: 19px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}